<a href="https://colab.research.google.com/github/suryakanthPS/DS_Mini-Projects/blob/main/As3_Q2_Hypo_test_Labtat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import libraries
import pandas as pd
import numpy as np
from scipy import stats as stats

#### Lab turn around time

*   Anova statistics: Analysis of varaince between more than 2 samples. 
* Assume Null Hypothesis Ho as No Varaince
* Alternate Hypothesis Ha as has Variance

* H0: mu(Laboratory 1) = mu(Laboratory 2) = mu
(Laboratory 3) = mu(Laboratory 4)
* H1: At least one of average TAT is not equal to other three.
* we got a data for 4 different laboratories and we are analyzing the outcomes based on only one factor i.e. Average Turn Around Time (TAT), hence oneway ANOVA test will be applicable for this problem statement.

In [ ]:
data = pd.read_csv("/content/LabTAT.csv")

In [ ]:
Lab1 = pd.Series(data.iloc[:,0])
Lab2 = pd.Series(data.iloc[:,1])
Lab3 = pd.Series(data.iloc[:,2])
Lab4 = pd.Series(data.iloc[:,3])

In [ ]:
data.describe()

       Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
count    120.000000    120.000000    120.000000     120.00000
mean     178.361583    178.902917    199.913250     163.68275
std       13.173594     14.957114     16.539033      15.08508
min      138.300000    140.550000    159.690000     124.06000
25%      170.335000    168.025000    188.232500     154.05000
50%      178.530000    178.870000    199.805000     164.42500
75%      186.535000    189.112500    211.332500     172.88250
max      216.390000    217.860000    238.700000     205.18000

In [ ]:
# Anova ftest statistics: stats.f_oneway(column-1,column-2,column-3,column-4)
p_value = stats.f_oneway(data.iloc[:,0],data.iloc[:,1],data.iloc[:,2],data.iloc[:,3])
p_value

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [ ]:
p_value[1]

2.1156708949992414e-57



*   Result - pvalue=2.1156708949992414e-57 which is less than (Î± = 0.05). Hence we will reject Null Hypothesis (H0) and accept alternate hypothesis (H1).
*   Inference - Inference: there is some difference in the average Turn Around Time (TAT) of reports of the 4 - laboratories